@model PetShopsMVC.DTOs.LoginRequestDTO

@{
    ViewData["Title"] = "Login";
}

<section id="Login" style="background: url('assets/images/background-img.png') no-repeat;">
    <div class="container ">
        <div class="row my-5 py-5">
            <div class="offset-md-3 col-md-6 my-5 ">
                <h2 class="display-3 fw-normal text-center">
                    <span class="text-primary">Login to shop</span>
                </h2>
                <form asp-action="Login" method="post">
                    <div class="mb-3">
                        <input asp-for="Username"  class="form-control form-control-lg"  id="email" placeholder="Email ">
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <input asp-for="Password" type="password" class="form-control form-control-lg"  id="password1" placeholder="Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-dark btn-lg rounded-1">Login</button>
                    </div>
                    <div class="no-repeat">
                        <p class="message" style="padding-top: 10px; ">Not registered? <a asp-controller="Account" asp-action="Register" style="text-decoration: none; color: rgb(165, 60, 8);">Create an account</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>



