@model PetShopsMVC.DTOs.RegisterRequestDTO

@{
    ViewData["Title"] = "Register";
}

<section id="register" style="background: url('images/background-img.png') no-repeat;">
    <div class="container ">
        <div class="row my-5 py-5">
            <div class="offset-md-3 col-md-6 my-5 ">
                <h2 class="display-3 fw-normal text-center">
                    Get 20% Off on <span class="text-primary">first Purchase</span>
                </h2>
                <form asp-action ="Register" method="post">
                    <div class="mb-3">
                        <input asp-for="Username" class="form-control form-control-lg" 
                               placeholder="Enter Your Email Address">
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <input asp-for="Password" type="password" class="form-control form-control-lg"  id="password1"
                               placeholder="Create Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <input asp-for="Roles" type="hidden" class="form-control form-control-lg" value="Read" name="roles" id="password1"
                               placeholder="">
                        <span asp-validation-for="Roles" class="text-danger"></span>
                    </div>
                
                    <div class="d-grid gap-2">
                        <button value="Register" type="submit" class="btn btn-dark btn-lg rounded-1">Register it now</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
