<div style="margin-bottom:100px;" class="container">
    <br><br><br><br>
    <div class="text-center">
        <img src="~/assets/images/checked.png" class="img-fluid"
             style="width: 200px; height: 200px; margin-left: auto; margin-right: auto;backdrop-filter:none"
             alt="...">
        <br>
        <h1><strong>Your order has been received</strong></h1>
        <br>
        <p>Thank you for your purchase !</p>
        <a style="background-color:#DEAD6F;color:#fff;border:none;" class="btn btn-primary w-20 " asp-controller="Product" asp-action="Shop">
            Start Shopping Again
        </a>
    </div>
</div>